.render-char {
  --bg-color: rgba(255, 255, 255, 1);
  --border-color: #dddddd;
  --text-color: #000000;
  position: relative;
  overflow: hidden;

  &--style-tilemap {
    --border-color: #538f51;
    --bg-color: rgba(0, 0, 0, 0);
  }

  &--highlight {
    --border-color: #d76C00;
    --bg-color: rgba(255, 154, 72, 0.75);
  }

  &--highlight-current {
    --border-color: #d7C900;
    --bg-color: rgba(255, 246, 72, 0.75);
  }

  &__char {
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);

    height: 40px;
    width: 40px;
    line-height: 40px;
    cursor: pointer;
  }

  &--style-tilemap &__char {
    background-image:
      linear-gradient(to bottom, var(--bg-color) 0%, var(--bg-color) 100%),
      var(--charmap-uri);
    background-repeat: no-repeat;
    background-size: 640px 640px;
    image-rendering: pixelated;
  }

  .render__list--textgrid &--terminator {
    grid-column-start: 1;
    height: 4px;
    grid-column-end: -1;
    background-color: rgb(var(--bg-color));

    & > * {
      display: none;
    }
  }

  &--patched:after {
    content: ' ';
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -9px;
    background: #ff7400;
    height: 18px;
    width: 18px;
  }

  .render__list--textgrid &--fontchange {
    display: none;
  }

  .render__list--textgrid &--terminator + &--terminator {
    height: 0.25px;
  }

  &--bold {
    font-weight: bold;
  }

  &--norm {
    font-weight: normal;
  }

  &--style-hex {
    font-size: 110%;
  }

  &--style-charmap {
    font-size: 170%;
  }

  &--style-tilemap {
    font-size: 50%;
  }
}
