.render-char {
  --bg-color: 255 255 255;
  --text-color: 0 0 0;
  position: relative;
  overflow: hidden;

  &__char {
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
    text-align: center;
    background-color: rgb(var(--bg-color));
    color: rgb(var(--text-color));

    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
  }

  .render__list--textgrid &--terminator {
    grid-column-start: 1;
    height: 4px;
    grid-column-end: -1;
    background-color: rgb(var(--bg-color));

    & > * {
      display: none;
    }
  }

  &--patched:after {
    content: ' ';
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -9px;
    background: #ff7400;
    height: 18px;
    width: 18px;
  }

  .render__list--textgrid &--fontchange {
    display: none;
  }

  .render__list--textgrid &--terminator + &--terminator {
    height: 0.25px;
  }

  &--highlight &__char {
    border: 1px solid #d76c00;
    background-color: #ff9a48;
  }

  &--highlight-current &__char {
    border: 1px solid #d7c900;
    background-color: #fff648;
  }

  &--bold {
    font-weight: bold;
  }

  &--norm {
    font-weight: normal;
  }

  &--style-hex {
    font-size: 110%;
  }

  &--style-charmap {
    font-size: 170%;
  }

  &--style-tilemap {
    font-size: 50%;
  }

  &--style-tilemap &__char {
    border-color: #538f51;
    background-image: var(--charmap-uri);
    background-repeat: no-repeat;
    background-size: 640px 640px;
    image-rendering: pixelated;
  }
}
