.render-char {
  --bg-color: 255 255 255;
  --text-color: 0 0 0;
  position: relative;
  font-size: 28px;
  color: rgb(var(--text-color));
  background-color: rgb(var(--bg-color));
  overflow: hidden;

  &__char {
    display: block;
    margin: 0 0 0 auto;
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    color: inherit;
    background: inherit;

    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
  }

  .render__list--textgrid &__terminator {
    grid-column-start: 1;
    height: 4px;
    grid-column-end: -1;
    background-color: rgb(var(--bg-color));

    & > * {
      display: none;
    }
  }

  &__patched:after {
    content: ' ';
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -9px;
    background: #ff7400;
    height: 18px;
    width: 18px;
  }

  .render__list--textgrid &__fontchange {
    display: none;
  }

  &__terminator + &__terminator {
    height: 0.25px;
  }

  &__highlight &__char {
    border: 1px solid #d76c00;
    background-color: #ff9a48;
  }

  &__highlight-current &__char {
    border: 1px solid #d7c900;
    background-color: #fff648;
  }

  &__hex {
    font-size: 18px;
  }

  &__bold {
    font-weight: bold;
  }

  &__norm {
    font-weight: normal;
  }

  &__digit {
    background-color: #beffe0;
    font-weight: normal;
  }

  &__space {
    color: #e0e0e0;
  }
}
