.char {
  flex-basis: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  --bg-color: #dcdcdc;
  --text-color: #000000;
  padding: 0;
  line-height: initial;
  background-color: var(--bg-color);
  color: var(--text-color);

  &--missing {
    --bg-color: #ffffff;
    cursor: not-allowed;
  }

  &__value {
    display: block;
    height: 32px;
    line-height: 32px;
    --text-color: #dddddd;
  }

  &__code {
    display: block;
    margin-top: 1px;
    font-size: 10px;
    color: #888888;
  }
}
