.visual {
  display: flex;
  gap: 16px;
  align-items: flex-start;

  &__label {
    font-size: 12px;
    margin-bottom: 4px;
  }

  &__search {
    width: 96px;
    image-rendering: pixelated;
  }
}
