input, textarea, button, select, .file-input {
  --bg-color: 210 210 210;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: rgb(var(--bg-color) / 50%);

  &:not([disabled]):hover {
    background: rgb(var(--bg-color) / 75%);
  }
}


input {
  height: 40px;
  padding: 18px 10px;
}

textarea {
  height: 120px;
  padding: 8px 10px;
  overflow-y: auto;
  resize: none;
}

button, .file-input {
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  border: none;
  display: inline-block;
  cursor: pointer;

}

select {
  height: 40px;
  padding: 0 10px;
}

.file-input {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  input {
    opacity: 0;
    cursor: inherit;
    position: absolute;
    width: 1px;
    height: 1px;
    left: -24px;
  }
}

label {
  width: 100%;
}
