@import '~reset-css/sass/reset';

body {
  @include fontFamily;

  background: $color-white;
  color: $color-black;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

pre {
  font-family: monospace;
  padding: 2px;
}

input, textarea, button, .file-input {
  width: 100%;
  font-size: 19px;
  font-weight: bold;
  border: 2px solid #aaa;
  border-radius: 5px;
  background: #eee;
}


input {
  height: 40px;
  padding: 18px 10px;
}

textarea {
  height: 120px;
  padding: 8px 10px;
  overflow-y: auto;
  resize: none;
}

button, .file-input {
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  --bg-color: 220 220 220;
  border: none;
  display: inline-block;
  cursor: pointer;

  background: rgb(var(--bg-color));

  &:not([disabled]):hover {
    background: rgb(var(--bg-color) / 50%);
  }
}

.file-input {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  input {
    opacity: 0;
    cursor: inherit;
    position: absolute;
    width: 1px;
    height: 1px;
    left: -24px;
  }
}
